@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "INTEL_REGULAR";
    src: url("../fonts/intelone-display-regular.otf");
}

@font-face {
    font-family: "INTEL_BOLD";
    src: url("../fonts/intelone-display-bold.otf");
}

@font-face {
    font-family: "INTEL_LIGHT";
    src: url("../fonts/intelone-display-light.otf");
}

@font-face {
    font-family: "INTEL_MEDIUM";
    src: url("../fonts/intelone-display-medium.otf");
}

@layer components {
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
